<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE menu SYSTEM "menu.dtd">
<menu>
    <item id="M001">
        <name>Café Latte</name>
        <description>Espresso with steamed milk and a light layer of foam</description>
        <price>$4.50</price>
        <image>images/latte.jpg</image>
    </item>
    <item id="M002">
        <name>Café Mocha</name>
        <description>Espresso with chocolate syrup and steamed milk</description>
        <price>$5.00</price>
        <image>images/mocha.jpg</image>
    </item>
    <item id="M003">
        <name>Café Americano</name>
        <description>Espresso shots topped with hot water</description>
        <price>$3.50</price>
        <image>images/americano.jpg</image>
    </item>
    <item id="M004">
        <name>Cappuccino</name>
        <description>Espresso with steamed milk and thick foam</description>
        <price>$4.50</price>
        <image>images/cappuccino.jpg</image>
    </item>
    <item id="M005">
        <name>Flat White</name>
        <description>Espresso with velvety steamed milk</description>
        <price>$4.50</price>
        <image>images/flatwhite.jpg</image>
    </item>
    <item id="M006">
        <name>Hot Chocolate</name>
        <description>Rich chocolate melted into steamed milk</description>
        <price>$4.00</price>
        <image>images/hotchocolate.jpg</image>
    </item>
    <item id="M007">
        <name>Blueberry Muffin</name>
        <description>Freshly baked muffin with juicy bluberries</description>
        <price>$3.50</price>
        <image>images/blueberrymuffin.jpg</image>
    </item>
    <item id="M008">
        <name>Egg &amp; Bacon Roll</name>
        <description>Toasted roll with fried egg and crispy bacon</description>
        <price>$6.00</price>
        <image>images/egg-bacon-roll.jpg</image>
    </item>
    <item id="M009">
        <name>Croissant</name>
        <description>Buttery, flaky French-style croissant</description>
        <price>$3.00</price>
        <image>images/croissant.jpg</image>
    </item>
    <item id="M010">
        <name>Banana Bread</name>
        <description>Moist banana bread made from a family recipe</description>
        <price>$4.00</price>
        <image>images/banana-bread.jpg</image>
    </item>
</menu>
